In [70]:
CREATE DATABASE Paw_n_Care;

: Msg 1801, Level 16, State 3, Line 1
Database 'Paw_n_Care' already exists. Choose a different database name.

In [75]:
USE Paw_n_Care;

NOTE: All insert data is **ONLY AN EXAMPLE** for queries.

In [76]:
DROP TABLE IF EXISTS billings;
DROP TABLE IF EXISTS medical_records;
DROP TABLE IF EXISTS appointments;
DROP TABLE IF EXISTS pets;
DROP TABLE IF EXISTS veterinarians;
DROP TABLE IF EXISTS owners;

In [77]:
CREATE TABLE owners (
    id INT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    address VARCHAR(255),
    phone_number VARCHAR(10),
    email VARCHAR(100) UNIQUE,
    registration_date DATETIME NOT NULL
);

In [78]:
INSERT INTO owners (id, first_name, last_name, address, phone_number, email, registration_date)
VALUES 
(1, 'John', 'Doe', '123 Kaset', '0987654321', 'johndoe@example.com', '2024-01-01 10:00:00'),
(2, 'Jane', 'Smith', '456 Kaset', '0987654322', 'janesmith@example.com', '2024-02-15 14:30:00'),
(3, 'Michael', 'Brown', '789 Kaset', '0987654323', 'michaelbrown@example.com', '2024-03-10 09:15:00'),
(4, 'Emily', 'Davis', '321 Kaset', '0987654324', 'emilydavis@example.com', '2024-04-05 16:45:00'),
(5, 'Sarah', 'Johnson', '654 Kaset', '0987654543', 'sarahjohnson@example.com', '2024-05-20 12:00:00');

In [79]:
CREATE TABLE veterinarians (
    id INT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    specialization VARCHAR(100),
    license_number VARCHAR(20) UNIQUE,
    phone_number VARCHAR(15),
    email VARCHAR(100) UNIQUE
);

In [80]:
INSERT INTO veterinarians (id, first_name, last_name, specialization, license_number, phone_number, email)
VALUES 
(1, 'Thorung', 'Boonkaew', 'Veterinary Public Health', '6510545454', '0899999999', 'thorung.b@ku.th'),
(2, 'Atikarn', 'Kruaykriangkrai', 'Veterinary Medicine', '6510545799', '0877777777', 'atikarn.kr@ku.th'),
(3, 'Nicha', 'Ruangrit', 'Veterinary Surgery', '6510545411', '0844444444', 'nicha.rua@ku.th'),
(4, 'Phumrapee', 'Chaowanapricha', 'Veterinary Pathology', '6510545683', '0866666666', 'phumrapee.c@ku.th');

In [81]:
CREATE TABLE pets (
    id INT PRIMARY KEY,
    owner_id INT NOT NULL,
    name VARCHAR(50) NOT NULL,
    species VARCHAR(50) NOT NULL,
    breed VARCHAR(50),
    date_of_birth DATE,
    gender VARCHAR(10),
    weight DECIMAL(5, 2),
    FOREIGN KEY (owner_id) REFERENCES owners(id)
);

In [82]:
INSERT INTO pets (id, owner_id, name, species, breed, date_of_birth, gender, weight)
VALUES 
(1, 1, 'Buddy', 'Dog', 'Golden Retriever', '2020-03-15', 'Male', 30.50),
(2, 2, 'Meejai', 'Cat', 'Siamese', '2019-07-20', 'Female', 4.75),
(3, 3, 'Tummai', 'Dog', 'Bulldog', '2018-09-05', 'Male', 25.00),
(4, 4, 'Coco', 'Bird', 'Parrot', '2021-11-11', 'Female', 0.90),
(5, 5, 'Charlie', 'Rabbit', 'Lop', '2022-01-22', 'Male', 2.50);

In [83]:
CREATE TABLE appointments (
    id INT PRIMARY KEY,
    pet INT NOT NULL,
    owner INT NOT NULL,
    vet INT NOT NULL,
    appointment_date DATE NOT NULL,
    appointment_time TIME NOT NULL,
    reason VARCHAR(100),
    status VARCHAR(50) NOT NULL
    FOREIGN KEY (pet) REFERENCES pets(id),
    FOREIGN KEY (owner) REFERENCES owners(id)
);

In [84]:
INSERT INTO appointments (id, pet, owner, vet, appointment_date, appointment_time, reason, status)
VALUES 
(1, 1, 1, 1, '2024-06-01', '10:00:00', 'Vaccination', 'Completed'),
(2, 2, 2, 2, '2024-06-02', '14:00:00', 'Skin Check', 'Completed'),
(3, 3, 3, 3, '2024-06-03', '09:00:00', 'Limping', 'Pending'),
(4, 4, 4, 4, '2024-06-04', '15:30:00', 'Beak Trimming', 'Cancelled'),
(5, 5, 5, 1, '2024-06-05', '13:45:00', 'General Checkup', 'Completed');

In [85]:
CREATE TABLE medical_records (
    id INT PRIMARY KEY,
    appointment INT NOT NULL,
    pet INT NOT NULL,
    vet INT NOT NULL,
    visit_date DATE NOT NULL,
    diagnosis VARCHAR(100),
    treatment VARCHAR(100),
    prescribed_medication VARCHAR(200),
    notes VARCHAR(100),
    FOREIGN KEY (appointment) REFERENCES appointments(id),
    FOREIGN KEY (pet) REFERENCES pets(id),
    FOREIGN KEY (vet) REFERENCES veterinarians(id)
);

In [86]:
INSERT INTO medical_records (id, appointment, pet, vet, visit_date, diagnosis, treatment, prescribed_medication, notes)
VALUES 
(1, 1, 1, 1, '2024-06-01', 'Healthy', 'Vaccination', 'Rabies Vaccine', 'Good behavior'),
(2, 2, 2, 2, '2024-06-02', 'Dermatitis', 'Topical Cream', 'Skin Ointment', 'Follow up in 2 weeks'),
(3, 3, 3, 3, '2024-06-03', 'Sprain', 'Rest and Anti-inflammatory', 'Pain Reliever', 'Recheck in 1 month'),
(4, 4, 4, 4, '2024-06-04', 'Overgrown Beak', 'Trimming', NULL, 'Procedure cancelled by owner'),
(5, 5, 5, 1, '2024-06-05', 'Healthy', 'General Exam', NULL, 'No issues detected');

In [87]:
CREATE TABLE billings (
    id INT PRIMARY KEY,
    appointment INT NOT NULL,
    total_amount DECIMAL(10, 2) NOT NULL,
    payment_status VARCHAR(20) NOT NULL,
    payment_method VARCHAR(50),
    payment_date DATETIME,
    FOREIGN KEY (appointment) REFERENCES appointments(id)
);

In [88]:
INSERT INTO billings (id, appointment, total_amount, payment_status, payment_method, payment_date)
VALUES 
(1, 1, 500.00, 'Paid', 'Credit Card', '2024-06-01'),
(2, 2, 750.00, 'Paid', 'Cash', '2024-06-02'),
(3, 3, 1000.00, 'Paid', 'Bank Transfer', '2024-06-03'),
(4, 4, 2000.00, 'Paid', 'Cash', '2024-06-04'),
(5, 5, 600.00, 'Paid', 'Bank Transfer', '2024-06-05');

**More data**

In [89]:
INSERT INTO appointments (id, pet, owner, vet, appointment_date, appointment_time, reason, status)
VALUES 
(6, 1, 1, 1, '2024-11-15', '09:00:00', 'Checkup', 'Completed'),
(7, 2, 1, 2, '2024-11-20', '11:30:00', 'Skin Rash', 'Completed'),
(8, 3, 2, 3, '2024-10-01', '14:00:00', 'Vaccination', 'Completed'),
(9, 3, 2, 3, '2024-11-05', '15:30:00', 'General Checkup', 'Completed'),
(10, 4, 4, 4, '2024-11-10', '13:00:00', 'Feather Trimming', 'Completed');

In [90]:
INSERT INTO billings (id, appointment, total_amount, payment_status, payment_method, payment_date)
VALUES 
(6, 6, 1200.00, 'Paid', 'Credit Card', '2024-11-15 10:00:00'),
(7, 7, 800.00, 'Paid', 'Cash', '2024-11-20 12:00:00'),
(8, 8, 600.00, 'Paid', 'Credit Card', '2024-10-01 15:00:00'),
(9, 9, 900.00, 'Paid', 'Credit Card', '2024-11-05 16:00:00'),
(10, 10, 1000.00, 'Paid', 'Bank Transfer', '2024-11-10 14:00:00');

**1\. What is the average number of appointments scheduled per veterinarian per month?**

In [91]:
SELECT vet, AVG(appointment_count) AS avg_appointments_per_month
FROM (
    SELECT vet, YEAR(appointment_date) AS year, MONTH(appointment_date) AS month, COUNT(*) AS appointment_count
    FROM appointments
    GROUP BY vet, YEAR(appointment_date), MONTH(appointment_date)
) AS subquery
GROUP BY vet;

vet,avg_appointments_per_month
1,1
2,1
3,1
4,1

**2\. Which species of pet visits the clinic most frequently?**

In [92]:
SELECT TOP 1 species, COUNT(*) AS visit_count
FROM appointments
JOIN pets ON appointments.id = pets.id
GROUP BY species
ORDER by visit_count DESC;

species,visit_count
Dog,2

**3\. What is the sum of billings this month?**

In [93]:
SELECT SUM(total_amount) AS total_billing_this_month
FROM billings
WHERE MONTH(payment_date) = MONTH(GETDATE()) 
  AND YEAR(payment_date) = YEAR(GETDATE());

total_billing_this_month
3900.00

**4\. What are the top 3 diagnoses and treatments provided at the clinic?**

In [94]:
WITH RankedDiagnoses AS (
    SELECT 'Diagnosis' AS type, diagnosis AS category, COUNT(*) AS count,
           ROW_NUMBER() OVER (ORDER BY COUNT(*) DESC) AS row_num
    FROM medical_records
    GROUP BY diagnosis
),
RankedTreatments AS (
    SELECT 'Treatment' AS type, treatment AS category, COUNT(*) AS count,
           ROW_NUMBER() OVER (ORDER BY COUNT(*) DESC) AS row_num
    FROM medical_records
    GROUP BY treatment
)
SELECT type, category, count
FROM RankedDiagnoses
WHERE row_num <= 3
UNION
SELECT type, category, count
FROM RankedTreatments
WHERE row_num <= 3
ORDER BY count DESC;

type,category,count
Diagnosis,Healthy,2
Diagnosis,Overgrown Beak,1
Diagnosis,Sprain,1
Treatment,General Exam,1
Treatment,Rest and Anti-inflammatory,1
Treatment,Topical Cream,1

**5\. Which veterinarians have the highest number of completed appointments?**

In [95]:
SELECT TOP 1 vet, COUNT(*) AS completed_apm
FROM appointments
WHERE status = 'completed'
GROUP BY vet
ORDER BY completed_apm DESC;

vet,completed_apm
1,3

**6\. How many unique owners have returned for services more than once in the last six months?**

In [96]:
SELECT appointments.owner, COUNT(appointments.id) AS total_appointments
FROM appointments
WHERE appointments.appointment_date >= DATEADD(MONTH, -6, GETDATE())
GROUP BY appointments.owner
HAVING COUNT(appointments.id) > 1;

owner,total_appointments
1,3
2,3
4,2

**7\. What percentage of appointments result in prescribed medications?**

In [97]:
SELECT (COUNT(DISTINCT medical_records.appointment) * 100.0 / COUNT(DISTINCT appointments.id)) AS prescribed_percentage
FROM appointments
LEFT JOIN medical_records ON appointments.id = medical_records.appointment
WHERE medical_records.prescribed_medication IS NOT NULL;

prescribed_percentage
100.000000000000

**8\. What is the average billing amount per appointment?**

In [98]:
SELECT CAST(ROUND(AVG(billings.total_amount), 2) AS DECIMAL(10, 2)) AS avg_billing
FROM billings
JOIN appointments ON billings.appointment = appointments.id;

avg_billing
935.00

**9.** <span style="color: rgb(45, 83, 114); font-weight: 700; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">What are the most common reasons for appointments for each species?</span>

In [99]:
SELECT TOP 1 pets.species, appointments.reason, COUNT(*) AS reason_count
FROM appointments
JOIN pets ON appointments.pet = pets.id
GROUP BY pets.species, appointments.reason
ORDER BY reason_count DESC;

species,reason,reason_count
Dog,Vaccination,2

**10\. What proportion of invoices are paid on time versus pending or overdue?**

In [100]:
SELECT payment_status, COUNT(*) AS invoice_count
FROM billings
GROUP BY payment_status;

payment_status,invoice_count
Paid,10

In [101]:
SELECT
    CAST(
        SUM(CASE 
                WHEN billings.payment_date <= appointments.appointment_date THEN 1 
                ELSE 0 
            END) * 100.0 / COUNT(*) AS DECIMAL(5,2)
    ) AS paid_on_time_percentage,
    CAST(
        SUM(CASE 
                WHEN billings.payment_date > appointments.appointment_date OR billings.payment_status IN ('Pending', 'Overdue') THEN 1 
                ELSE 0 
            END) * 100.0 / COUNT(*) AS DECIMAL(5,2)
    ) AS pending_or_overdue_percentage
FROM billings
JOIN appointments ON billings.appointment = appointments.id;

paid_on_time_percentage,pending_or_overdue_percentage
50.00,50.00

**11\. What is the average weight of pets by species?**

In [102]:
SELECT pets.species, CAST(AVG(pets.weight) AS DECIMAL(4,2)) AS avg_weight
FROM pets
GROUP BY pets.species;

species,avg_weight
Bird,0.90
Cat,4.75
Dog,27.75
Rabbit,2.50

**12\. Which payment methods are most commonly used, and does this influence payment status (paid, pending, overdue)?**

In [103]:
SELECT TOP 1 payment_method, payment_status, COUNT(*) AS method_count
FROM billings
GROUP BY payment_method, payment_status
ORDER BY method_count DESC;

payment_method,payment_status,method_count
Credit Card,Paid,4